#contents{
    width: 100%;
    
}

#body{
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;;
}

h1{
    text-align: center;
    margin-top: 5px;
}

p{
    margin-bottom: 5px;
    margin-top: 10px;
    
}
button{
    margin: 0 auto;
}

#login{
    color: blue;
}
